/*
Theme Name: tuneeco-template
Author: ClaudioMeinberg
Description: tuneeco-template is a lightweight starter theme built using core WordPress functions. It doesn't use any frameworks or libraries, this makes it fast, simple and easy to customize! The clean, fast, standards-compliant code ensures tuneeco-template is Search Engine Optimized (SEO). WPML-compatible.
Version: 1.3.1
License: GNU General Public License v2 or later
Text Domain: tuneeco-template
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, custom-logo, editor-style, featured-images, full-width-template, threaded-comments, translation-ready, blog, e-commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/
/*@font-face{font-family:Poppins;font-display:swap;font-style:normal;font-weight:400;src:local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJDUc1NECPY.ttf)}*/
/*@font-face{font-family:Poppins;font-display:swap;font-style:normal;font-weight:500;src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9V1tvFP-KUEg.ttf)}*/
/*@font-face{font-family:Poppins;font-display:swap;font-style:normal;font-weight:700;src:local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7V1tvFP-KUEg.ttf)}*/
@font-face{font-family:'icomoon';font-display:swap;font-style:normal;font-weight:normal;src:local('icomoon'), local('icomoon'), url('http://localhost/sites/amb-amp/wp-content/plugins/tuneeco-plugin/fonts/icomoon.ttf')}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
    /*font-family: 'Poppins' !important;*/
    font-family: 'Open Sans', arial, helvetica, sans-serif !important;
}

a {
  color: #e94662;
  text-decoration: none;
  /*margin: 10px 0px;*/
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #111111;
}

h2 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
hr {
  /*margin: 1em 0;*/
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}


.home .site-content {
    background-color: #eee;
}

.content-area {
  /*background-color: #eee;*/
}


@media screen and (max-width: 1040px) {
    .site-content,
    .site-info {
        padding: 0;
    }
}


article {
    background-color: white;
    padding: 0.1rem 20px;
    /*margin: 15px 0;*/
}

#breadcrumbs {
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin: 20px 0;
}

#breadcrumbs span a {
    color: #999;
    letter-spacing: 1px;
    text-decoration: none;
}
#breadcrumbs span a:after {
    content: "\e315";
    font-family: 'icomoon';
    font-size: 12px;
    display: inline-block;
    color: #bdbdbd;
    padding-left: 5px;
    position: relative;
    top: 1px;
}

.entry-content {
  font-size: 18px;
  line-height: 1.7;
}

.entry-content p {
  margin: 0px 0px 30px 0px;
  word-break: break-word;
  line-height: 1.65;
}

.archive-header h1 {
  margin-bottom: 1rem;
  background-color: lightpink;
  text-align: center;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 1em;
  font-weight: 100;
}

.entry-title {
    visibility: visible;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0px 0px 5px 0px;
    line-height: 1.4;
}
.entry-header {
    margin-bottom: 0;
}

.post {
    margin-bottom: 14px;
    padding: 20px 20px;
}
.entry-meta {
    font-size: 11px;
    color: #757575;
}


.entry-excerpt {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    line-height: 20px;
}
.author-publish-date {
    margin-top: 2rem;
}
.author {
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: -.0125rem;
    margin: 14px 0 8px;
}
.publish-date {
    font-size: .75rem;
    line-height: 1rem;
    margin: 0;
}


/*Menu */
/* Style the navigation menu */
.nav {
  padding: 0px 20px;
  background-color: #e94662;
}
.topnav {
  width: 100%;
  clear: both;
  display: inline-flex;
  height: 60px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks, {
  display: none;
}

/* Style navigation menu links */
.topnav a,
.menu a {
  /*color: white;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  /*background-color: #e94662;*/
}

.topnav a span {
  font-size: 14px;
  text-transform: uppercase;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  align-self: center;
}

.logo {
  z-index: 2;
  flex-grow: 1;
  align-self: center;
  text-align: center;
  line-height: 0;
}

.h-1 {
  display: flex;
  order: 1;
}

#site-menu {
  /*padding: 14px 16px;*/
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 7px 16px #999;

}

#site-menu li a {
  /*color: #e94662;*/
  padding: 14px 16px;
}

.at-share-btn-elements {
  margin: 25px 0px;
}


/* hr com texto */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: #818078;
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fff;
  //font-family: Futura, sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.page-links {
  text-align: center;
}

.page-links a {
  word-break: break-word;
  line-height: 1.65;
  vertical-align: baseline;
  margin: 10px 0px;
  -webkit-font-smoothing: antialiased;
  color: #e94662;
  width: 268px;
  padding: 15px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  font-family: opensans,sans-serif;
  font-size: 13px;
  letter-spacing: .5px;
  box-shadow: 0 1px 0 #cecece;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}

#site-menu {
  display: none;
}

@media screen and (max-width: 900px) {
  .topnav a span {
    display: none;
  }
}

.text-center {
  text-align: center;
}
.m-20 {
  margin: 20px;
}
.ad-sidebar-container {
  float: right;
  width: 366px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.sticky {
  position: sticky;
  top: 25px;
}


@media screen and (min-width: 64rem) {
  .entry-header {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }


  .author-publish-date {
    color: #555555;
  }

  .entry-header .author {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    letter-spacing: -.01875rem;

  }

  .entry-title {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.15625rem;
    color: #111111;
  }

  .entry-subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -.03125rem;
    color: #555555;

  }

  .post-thumbnail {
    text-align: center;
    margin-bottom: 4rem;
  }

  .entry-content {
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -.03125rem;
    color: #333333;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
}

hr {
  margin: 3rem 0;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@media screen and (min-width: 1135px) {
  .sidebar-1 {
    max-width: 366px;
    float: right;
    margin-top: 1rem;
  }
}
.sidebar-1 {
    /*max-width: 366px;*/
    /*265px;225px*/

    margin-bottom: 40px;

    font-size: 14px;

}
.sidebar-content,
.widget
{
    /*width: 326px;*/
    margin-right: auto;
    margin-left: auto;
    background: white;

    margin-bottom: 14px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.widget a {
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: -1px;
  font-weight: 700;
}

.widget li {
  flex-direction: row-reverse;
}


.widget li,
.sidebar-content li {
  display: flex;
  padding: 1.5rem;
  border-top: solid 1px #eee;
}

.wpp-post-title,
.widget-post-title,
.sidebar-content li div {
  width: 100%;
}

.widget-area h3 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #555555;
  line-height: 20px;

  padding: 1rem 1.5rem;

  /*border-bottom: 1px solid #555555;*/
  /*padding-bottom: 1rem;*/
}

.bottom .sidebar-1 {
  max-width: 680px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.hentry {
  margin-top: 1rem;
}

.archive-content-area article {
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.post-template {
  /*background-color: #eee;*/
}