/**
 * tuneeco-template TinyMCE CSS
 *
 * @package     tuneeco-template
 * @copyright   Copyright (c) 2020, Claudio Meinberg
 * @license     http://opensource.org/licenses/gpl-2.0.php GNU Public License
*/

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #2d2e33;
		line-height: 1.25
}
