/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.screen-reader-text {
    display: none;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.wrapper:before,
.wrapper:after,
.navigation:before,
.navigation:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.wrapper:after,
.navigation:after {
    clear: both;
}

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/

.wrapper {
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
}

.site-content {
    padding-bottom: 25px
}

.page-template-full-width .content-area,
.post-template-full-width .content-area {
    width: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    text-align: center;
    min-height: 173px;
    padding: 50px 0;
}

.site-title {
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2
}

.site-title a {
    text-decoration: none;
    color: #e94662;
}

.site-description {
    color: #8e8e8e;
    margin: 0
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.content-area {
    width: 768px;
    float: left;
}

.post-thumbnail {
    margin-bottom: 16px
}

.entry-header {
    margin-bottom: 16px
}

.entry-title {
    /*font-size: 30px;*/
    margin: 0;
}

.entry-title a {
    text-decoration: none;
    /*color: black;*/
}

.entry-meta {
    font-size: 14px;
    color: #929292
}
.entry-meta a {
    color: #929292;
    text-decoration: none
}

.edit-link {
    float: right;
}

.page .edit-link {
    float: none;
}

.entry-footer {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    padding: 20px 0;
    margin: 0 0 50px;
    font-size: 14px;
}

.entry-footer span {
    display: block;
}
.entry-footer a {
    text-decoration: none;
    color: #303135
}

.comments-closed .entry-footer {
    margin-bottom: 0;
}

.more-link {
    text-decoration: none;
}

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    /*margin: 0 0 1.5em;*/
}

.blog .hentry {
    /*margin: 0 0 3em;*/
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/

.archive-header {
    /*margin-bottom: 25px;*/
}

.archive-header .archive-title {
    font-size: 16px
}

.archive-header .archive-description {
    font-size: 16px;
    border-bottom: 1px solid #e4e4e4;
}

.archive .post {
    /*margin-bottom: 50px;*/
    /*border-bottom: 1px solid #e4e4e4;*/
    padding-bottom: 26px;

    border-radius: 2px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 600px) {

    #site-menu {
        display: none;
    }

    .menu-1 {
        background: none
    }

    .menu-1 a {
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .menu-toggle {
        color: white;
        margin: 0 auto;
        width: 100%;
    border: 0;
    border-radius: 0;
    }

    .toggled .menu-toggle {
        color: white;
        margin: 0 auto
    }

    /* Small menu. */
    .menu-toggle,
    .menu-1.toggled #site-menu {
        display: block;
    }

    .menu-1 li {
        float: none;
      width: 100%;
    }

    .menu-1 ul ul {
        position: relative;
        float: none;
        left: auto;
        display: none
    }

    .menu-1 ul li:hover > ul,
    .menu-1 ul li.focus > ul {
        display: block;
    }

    .menu-1 ul ul a {
        width: 100%;
    }

    .menu-1 ul ul ul {
        left: auto
    }

    .menu-1 ul ul li:hover > ul,
    .menu-1 ul ul li.focus > ul {
        left: auto;
    }

}

@media screen and (max-width: 1134px) {
    .site-content,
    .content-area,
    .sidebar-1 {
        width: 100%;
        float: none;
    }

    .site-content,
    .site-info {
        padding: 0 20px;
    }

    .menu-1 .nav-menu > li:first-child {
      margin-left: 0;
    }
}

.wp-block-quote {
    border-left: 4px solid #e94662;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}