/**
 * tuneeco-template WooCommerce CSS
 *
 * @package     tuneeco-template
 * @copyright   Copyright (c) 2020, Claudio Meinberg
 * @license     http://opensource.org/licenses/gpl-2.0.php GNU Public License
*/

.woocommerce .content-area {
	width: 100%;
	float: none;
	clear: both
}
